.icon {
  position: absolute;

  width: 4em;
  height: 4em;

  border-radius: 50%;
  box-shadow: 0 1px 15px 0 $moon;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
