@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.online-content-container {
  font-size: 15px;
  padding: 1.5rem;
  text-align: center;
  width: 80%;

  .online-content {
    width: 70%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px auto;
    padding: 1.5rem;
    border: 1px solid $grey-light-border;
    border-radius: 5px;
    animation: fadeIn;
    animation-duration: 0.5s;
    cursor: pointer;
    .close-btn {
      position: absolute;
      top: 0;
      right: 3px;
      width: 17px;
      margin-top: 2px;
      padding: 0.03rem;
      font-size: 14px;
      &:hover {
        background-color: $grey-light-border;
        border-radius: 4px;
      }
    }
    p {
      margin: 0;
    }
  }

  .no-online {
    text-align: center;
    font-size: 1.2em;
    color: $grey-light;
    animation: fadeIn;
    animation-duration: 0.5s;
  }
}
