@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  border: $border-color solid 1px;
  border-radius: 1rem;

  h1 {
    text-align: center;
    padding: 0 0 2rem 0;
    border-bottom: $border-color solid 1px;
  }

  form {
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .txt-field {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 1.5rem 0;

      input {
        width: 100%;
        padding: 0 0.5rem;
        height: 4rem;
        font-size: 16px;
        border: none;
        outline: none;
        margin-right: auto; /* This will push the input to the left */
      }

      label {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: 0.5s;
      }

      span::before {
        content: '';
        position: absolute;
        top: 4rem;
        left: 0;
        width: 0;
        height: 2px;
        background: #222222;
        transition: 0.5s;
      }

      input:focus ~ label,
      input:valid ~ label {
        top: -5px;
        color: #adadad;
      }

      input:focus ~ span::before,
      input:valid ~ span::before {
        width: 100%;
      }
    }

    input[type='submit'] {
      width: 60%;
      height: 3rem;
      margin: 1rem;
      border: 1px solid;
      background: $grey-light;
      border-radius: 25px;
      font-size: 18px;
      color: #e9f4fb;
      cursor: pointer;
    }
  }

  .home {
    margin: 1rem;
    text-align: right;
    font-size: 16px;

    a {
      color: $grey-light;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .error-message {
    color: $red-light-error;
    text-align: center;
  }

  @include for-desktop {
    width: 70%;
    max-width: 30rem;
  }
}
