.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 25em;
  border: 1px solid $platinum;
  border-radius: 1em;

  .login-form__header {
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;

    padding: 0.5em 1em;
    border-bottom: 1px solid $platinum;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1em;

    .login-form__input {
      position: relative;
      border-bottom: 2px solid $quick-silver;
      margin: 1.5em 0;
      font-size: 16px;

      input {
        padding: 0 0.5em;
        height: 3em;
        font-size: inherit;
        border: none;
        outline: none;
      }

      label {
        position: absolute;
        top: 50%;
        left: 0.5em;
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.5s;
      }

      input:focus ~ label,
      input:valid ~ label {
        top: -5px;
        color: $quick-silver;
      }
    }

    .login-form__btn {
      width: 60%;
      height: 3em;
      margin: 1em;

      font-size: inherit;
      color: $snow;
      background-color: $dark-charcoal;

      border: 1px solid;
      border-radius: 25px;

      transition: background-color ease-in-out 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $sonic-silver;
      }
    }
  }

  .login-form__footer {
    display: flex;
    justify-content: right;
    margin: 1em;

    .footer__home-link {
      display: flex;
      align-items: center;
      gap: 0.25em;
    }
  }

  .login-form--error {
    color: $error;
    text-align: center;
  }

  @include for-phone {
    width: 90%;
  }
}
