.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 30em;
  border: $grey-light-border solid 1px;
  border-radius: 1rem;

  .login-form__header {
    text-align: center;
    padding: 1rem 1rem;
    border-bottom: $grey-light-border solid 1px;
  }

  form {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-form__input {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 1.5rem 0;
      font-size: 16px;

      input {
        padding: 0 0.5rem;
        height: 3em;
        border: none;
        outline: none;
      }

      label {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.5s;
      }

      input:focus ~ label,
      input:valid ~ label {
        top: -5px;
        color: #adadad;
      }
    }

    .login-form__btn {
      width: 60%;
      height: 3rem;
      margin: 1rem;
      border: 1px solid;
      background-color: $grey-dark;
      border-radius: 25px;
      color: $grey-light-border;
      transition: background-color ease-in-out 0.2s;

      &:hover {
        background-color: $grey-light;;
      }
    }
  }

  .login-form__footer {
    margin: 1rem;
    text-align: right;
    text-decoration: underline;
  }

  .login-form--error {
    color: $red-light-error;
    text-align: center;
  }

  @include for-phone {
    width: 90%;
  }
}
