.online-content {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  .online-content__title {
    margin-bottom: 0.25em;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
    overflow: hidden;

    &.whiteboard {
      color: black;
    }
  }

  .online-content__items {
    display: flex;
    flex-wrap: wrap;
    animation: fadeIn;
    animation-duration: 1s;

    .items__child {
      color: white;
      width: fit-content;

      padding: 0.7em;
      margin: 0.25em;

      border-radius: 3px;
      animation: fadeIn;
      animation-duration: 0.5s;
      transition: background-color 0.1s ease-in-out;

      .whiteboard & {
        background-color: $tictactoe-primary-color;

        &:hover {
          background-color: $tictactoe-secondary-color;
        }
      }
    }
  }
}
