body {
  box-sizing: border-box;
}
.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.colors {
  position: fixed;
  margin: 2px;
}
.color {
  display: inline-block;
  border-radius: 5px;
  height: 48px;
  width: 48px;
  border: 1px solid #e7e7e7;
  margin: 1px;
}
.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}
.color.white {
  background-color: white;
}
.whiteboard-container btn {
  display: flex;
  justify-content: center;
}
.whiteboard-container button {
  background-color: white;
  color: #1b9cfc;
  font-weight: 700;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 15px 32px;
  transition-duration: 0.4s;
  font-size: 16px;
  margin: 1px 2rem;
  float: right;
}
.whiteboard-container button:hover {
  background: rgba(27, 156, 252, 0.1);
  transform: scale(1.1);
  cursor: pointer;
}
