# This docker-compose file is designed for development purposes only

version: '3'

services:
  db:
    container_name: db
    restart: always
    image: postgres:14.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  redis:
    container_name: redis
    image: redis:7.0.2-alpine
    ports:
      - "6379:6379"

  backend:
    container_name: backend
    build:
      context: backend
      dockerfile: local.Dockerfile
    env_file:
      - .env
    command: sh -c "python manage.py migrate &&
                    python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db

  frontend:
    container_name: frontend
    build:
      context: frontend
      dockerfile: local.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data:
