# This docker-compose file is designed for production purposes

version: '3'

services:
  db:
    image: postgres:14.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5432:5432"

  redis:
    image: redis:7.0.2-alpine
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db
    entrypoint: /entrypoint.sh
    env_file:
      - .env
    volumes:
      - staticfiles:/backend/staticfiles

  nginx:
    build:
      context: .
      dockerfile: ./webserver/Dockerfile
    volumes:
      - staticfiles:/staticfiles
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
  staticfiles:
