# This docker-compose file is designed for development purposes only

version: '3'

services:
  redis:
    container_name: monitoring-redis
    image: redis:7.0.2-alpine
    ports:
      - "6379:6379"

  django:
    container_name: monitoring-backend
    build:
      context: backend
    command: sh -c "python manage.py migrate &&
                    python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis

  react:
    container_name: monitoring-frontend
    build:
      context: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data:
