services:
  web:
    build:
      context: backend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .envs/.django
      - .envs/.postgres
    volumes:
      - ./logs/daphne:/backend/logs/daphne
      - static:/backend/static
    depends_on:
      redis:
        condition: service_started

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./logs/nginx:/var/log/nginx
      - static:/static
    ports:
      - "81:80"
    depends_on:
      web:
        condition: service_started

  redis:
    restart: always
    image: redis:7.0.2-alpine

volumes:
  static:
