# This docker-compose file is designed for production purposes

version: '3'

services:
  redis:
    image: redis:7.0.2-alpine
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - redis
    entrypoint: /entrypoint.sh
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - staticfiles:/backend/staticfiles

  nginx:
    build:
      context: .
      dockerfile: ./webserver/Dockerfile
    volumes:
      - staticfiles:/staticfiles
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  staticfiles:
