# This docker-compose file is designed for development purposes only

services:
  web:
    build:
      context: backend
      dockerfile: local.Dockerfile
    env_file:
      - .envs/.django
      - .envs/.postgres
    command: sh -c "python manage.py migrate &&
                    python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    restart: always
    image: postgres:16.4-alpine
    env_file:
      - .envs/.postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: sh -c "pg_isready -U postgres"
      interval: 3s
      timeout: 3s
      retries: 5

  frontend:
    build:
      context: frontend
      dockerfile: local.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  redis:
    image: redis:7.0.2-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
