.monitoring-page {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 4rem;

  @include for-tablet {
    margin: 0;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
}
