{% extends "tictactoe/base.html" %}
{% load static %}
{% block content %}

<button class="btn btn-light btn-game" onclick="tictactoeHomePage()">Home</button>
<button class="btn btn-light btn-game" onclick="refreshPage()">Restart</button>
<div class="full-page" id="full-page">
  <div class="game flex-column">
    <div class="scoreboard">
      <div>Total users:<span style="margin-left: 3px" id="userNum"></span></div>
      <div id="userdiv"></div>
      <div><span id="userTurn"></span>'s turn</div>
    </div>
    <div class="boardcontainer">
      <div class="board">
        <div data-cell-index="0" class="space"></div>
        <div data-cell-index="1" class="space"></div>
        <div data-cell-index="2" class="space"></div>
        <div data-cell-index="3" class="space"></div>
        <div data-cell-index="4" class="space"></div>
        <div data-cell-index="5" class="space"></div>
        <div data-cell-index="6" class="space"></div>
        <div data-cell-index="7" class="space"></div>
        <div data-cell-index="8" class="space"></div>
      </div>
    </div>
  </div>
  <div class="side-info">
    <div id="sidebar">
      <div class="text-white" id="infodiv">
        <h6>Room Activity</h6>
        <hr />
      </div>
    </div>
    <input
      id="chatInput"
      type="text"
      placeholder="send a message"
      class="mt-1 form-control send-msg"
    />
  </div>
</div>

{% endblock content %}
{% block script %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script>
    const username = localStorage.getItem('username');
    setUsername(username)
  </script>
  <script src="{% static 'js/tictactoe/TicTacToe.js' %}"></script>
{% endblock script %}
