@import 'utils/mixins.scss';
@import 'utils/variables.scss';

@include fifteen;
@include game-page;

.fifteen-body {
  .fifteen-wrapper {
    animation: fadeIn;
    animation-duration: 0.4s;
    min-height: $game-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .fifteen {
      margin: 5rem;
      .puzzle-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 450px;
        height: 450px;
        background-color: $fifteen-dark-color;
        border-radius: 8px;
        border: 1px solid $fifteen-hover-color;
        .puzzle-block {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25%;
          height: 25%;
          background-color: $fifteen-puzzle-color;
          color: $fifteen-puzzle-text-color;
          border: 1px solid $fifteen-hover-color;
          border-radius: 4px;
          font-size: 65px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
        }
      }
      .info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 28rem;
        height: 5rem;
        background-color: $fifteen-dark-color;
        border-radius: 8px;
        margin-top: 1rem;
        .info {
          background-color: inherit;
          color: $fifteen-secondary-color;
          text-align: center;
          font-size: 28px;
          font-weight: bold;
          margin: 0.5rem;
          .moves {
            margin-left: 3px;
          }
        }
      }
    }
    @include for-desktop {
      flex-direction: column;
      align-items: center;
      .fifteen {
        margin: 2rem;
        .puzzle-container {
          margin: 0 auto;
          width: 95%;
        }
        .info-container {
          margin: 0.5rem auto;
          width: 95%;
        }
      }
    }
    @include for-phone {
      .fifteen {
        .puzzle-container {
          height: 330px;
          .puzzle-block {
            font-size: 50px;
          }
        }
      }
    }
  }
}
