.btn {
  font: inherit;
  padding: 0.75em;

  font-size: 16px;
  border: none;
  border-radius: 0.25em;

  transition: background-color ease-in-out 0.1s;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.btn-menu {
  width: 100%;
}
