@import 'utils/mixins.scss';

@include bingo;
@include game-page;

.bingo-body {
  .bingo-wrapper {
    animation: fadeIn;
    animation-duration: 0.4s;
    min-height: $game-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .bingo {
      margin: 8.01rem;
      font-weight: bolder;
      .animated-data {
        animation: fadeIn;
        animation-duration: 0.3s;
      }
      .scoreboard {
        color: white;
        font-size: 18px;
        .username {
          text-align: center;
        }
        .room-info {
          display: flex;
          justify-content: space-between;
        }
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(5, auto);
        animation: fadeIn;
        animation-duration: 0.4s;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 4.5rem;
          height: 4.5rem;
          color: white;
          border: 2px solid $bingo-clicked-item;
          font-size: 1.5em;
          margin: 0.2rem;
          user-select: none;
          &.clicked {
            background: $bingo-clicked-item;
          }
        }
      }
      .success-row {
        background: $bingo-success-row;
        border: none;
      }
      .bingo-state {
        height: 1rem;
        font-size: 30px;
        color: white;
        padding: 0.2rem;
        text-align: center;
        animation: fadeInUp;
        animation-duration: 1s;
      }
    }
    @include for-desktop {
      flex-direction: column;
      margin-top: 4rem;
      .bingo {
        margin: 2rem;
        .grid {
          span {
            margin: 0.1rem;
          }
        }
      }
    }
    @include for-phone {
      .bingo {
        .grid {
          span {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
  }
}
