@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.bingo-monitoring {
  min-height: $game-height;
  .bingo-wrapper {
    min-height: unset;
    .bingo {
      margin: unset;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: center;
      .grid {
        margin: 0 2rem 0;
      }
      @include for-desktop {
        flex-direction: column;
      }
    }
  }
}
