@import 'utils/mixins.scss';
@import 'utils/variables.scss';

@include bingo;
@include home-page;

.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  height: 24rem;
  width: 38rem;
  padding: 3rem 6rem;
  background: #fff;
  border-radius: 1rem;
  transition: top 0ms ease-in-out 200ms,
  opacity 200ms ease-in-out 0ms,
  transform 200ms ease-in-out 0ms;

  &.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 13px;
    border-radius: 10px;
    cursor: pointer;
  }

  .form {
    h2 {
      text-align: center;
      font-size: 35px;
      margin-bottom: 2rem;
    }

    button {
      width: 100%;
      height: 3rem;
      font-size: 18px;
      background: #222222;
      color: #f5f5f5;
      border-radius: 10px;
    }
  }

  @include for-desktop {
    display: flex;
    align-items: center;
    height: 22rem;
    width: 19rem;
    padding: 0 0.75rem;
    .form {
      h2 {
        font-size: 30px;
        margin: 1rem;
      }
      button {
        font-size: 15px;
      }
    }
  }
}
