@include game-page;
@include monitoring;

.tictactoe__monitoring {
  display: flex;
  align-items: center;
  flex-direction: column;

  .monitoring__players-info {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }

  .tictactoe__game-grid {
    margin-bottom: 2em;
  }
}
