body {
  box-sizing: border-box;
}
.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.colors {
  position: fixed;
}
.color {
  display: inline-block;
  height: 48px;
  width: 48px;
  border-style: solid;
  border-width: 1px;
}
.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}
.color.white {
  background-color: white;
}
.btn-home{
  background-color: white;
  border: 1px solid #e7e7e7;
  padding: 15px 32px;
  transition-duration: 0.4s;
  font-size: 16px;
  margin-left: 2rem;
  float: right;
}
.btn-home:hover{
  background-color: #e7e7e7;
}
