@include tictactoe;
@include game-page;
@include animations;

.tictactoe__game {
  .game__username {
    font-size: 1.2em;
    text-align: center;
    color: white;
  }

  .game__scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1em;

    font-size: 1.2em;
    color: white;
  }

  .tictactoe__game-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 2px;
    width: 25em;
    height: 25em;

    .game-grid__tile {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 3em;
      border-radius: 3px;
      background-color: $tictactoe-board-color;

      transition: background-color ease-in-out 0.1s;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: $tictactoe-primary-color;
      }
    }

    @include for-desktop {
      width: 20em;
      height: 20em;
    }
  }
}
