@import 'utils/mixins.scss';

@include whiteboard;
@include game-home-page;

.whiteboard-body {
  .game-home-container {
    .game-home-content {
      .no-room-options {
        margin-top: 13px;
        padding: 5px;
        font-size: 15px;
        width: 100%;
        text-align: center;
        background-color: $whiteboard-light-grey;
        border-radius: 5px;
      }
    }
  }
}
