@include whiteboard;

.whiteboard-body {
  .spinner-border {
    position: fixed;
    top: 48%;
    left: 47%;
    width: 4rem;
    height: 4rem;
    color: $blue-txt !important;
    z-index: 9999;
    @include for-phone {
      top: 47%;
      left: 42%;
    }
  }
  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    touch-action: none;
  }
  .menu {
    position: fixed;
    margin: 2px;

    .dropdown {
      display: flex;
      flex-direction: column;

      button {
        background-color: white;
        color: $blue-txt;
        font-size: 15px;
        border: 1px solid $grey-light-border;
        border-radius: 10px;
        padding: 12px 23px;
        outline: none;
        img {
          margin-bottom: 3px;
        }
        &:hover {
          background-color: $light-blue;
        }
      }

      .dropdown-content {
        button {
          margin: 3px;
          padding: 8px 17px;
          width: 50%;
        }

        .options {
          display: flex;
          justify-content: center;
        }

        .players {
          background-color: white;
          border: 1px solid $grey-light-border;
          border-radius: 10px;
          margin: 0 4px;

          .player-info {
            display: flex;
            align-items: center;
            padding: 0 5rem;
            margin: 0.25rem 0;

            .username {
              margin-right: auto;
            }

            .is-active {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
    .color {
      display: inline-block;
      border-radius: 5px;
      height: 48px;
      width: 48px;
      border: 1px solid $grey-light-border;
      margin: 1px;
      cursor: pointer;

      &.black {
        background-color: black;
      }

      &.red {
        background-color: red;
      }

      &.green {
        background-color: green;
      }

      &.blue {
        background-color: blue;
      }

      &.yellow {
        background-color: yellow;
      }

      &.active {
        border: 5px solid white;
        border-radius: 10px;
      }
    }
  }
}
