@include whiteboard;

.whiteboard {
  .color {
    display: inline-block;
    border-radius: 0.5em;
    height: 3em;
    width: 3em;
    margin-right: 1px;
    border: 1px solid $grey-light-border;
    cursor: pointer;

    &.black {
      background-color: black;
    }

    &.red {
      background-color: red;
    }

    &.green {
      background-color: green;
    }

    &.blue {
      background-color: blue;
    }

    &.yellow {
      background-color: yellow;
    }

    &.active {
      border: 5px solid white;
      border-radius: 12px;
    }
  }

  .whiteboard__board {
    position: absolute;
    inset: 0;
    touch-action: none;
  }

  .whiteboard__menu {
    position: fixed;
    padding: 0.1em;

    .menu__dropdown {
      display: flex;
      flex-direction: column;

      .btn {
        display: flex;
        justify-content: center;
        padding: 0.5em;
      }

      .dropdown__items {
        .dropdown__options {
          display: flex;
          justify-content: space-between;
          gap: 0.5em;
          margin: 0.25em 0;

          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.15em;
            width: 100%;
          }
        }

        .dropdown__players {
          border: 1px solid $grey-light-border;
          border-radius: 0.25em;

          .players__username {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.2em;
            margin: 0.25em 0;
          }
        }
      }
    }
  }
}
