@include game-page;
@include monitoring;

.fifteen__monitoring {
  display: flex;
  flex-direction: column;
  gap: 4em;

  .fifteen__game {
    display: flex;
    justify-content: center;
  }

  @include for-desktop {
    gap: 2em;
  }
}
