{% extends 'bingo/base.html' %}
{% load static %}
{% block content %}

<button class="btn btn-danger btn-game" onclick="bingoHomePage()">Home</button>
<button class="btn btn-danger btn-game" onclick="refreshPage()">Restart</button>
<div class="bingo-container">
  <div class="bingo">
    <strong class="my-3 text-white text-center">
      <p class="mt-3" id="userdiv"></p>
      <span class="my-3">Total users: <span id="userNum"></span></span><br />
      <div class="d-flex justify-content-between">
        <div><span class="my-3">Players limit: <span id="playersLimit"></span></span></div>
        <div><span id="userTurn"></span>'s turn</div>
        <div id="lastStepDiv">Last step</div>
      </div>
    </strong>
    <div>
      <div class="grid">
        <span data-id="1"></span>
        <span data-id="2"></span>
        <span data-id="3"></span>
        <span data-id="4"></span>
        <span data-id="5"></span>
        <span data-id="6"></span>
        <span data-id="7"></span>
        <span data-id="8"></span>
        <span data-id="9"></span>
        <span data-id="10"></span>
        <span data-id="11"></span>
        <span data-id="12"></span>
        <span data-id="13"></span>
        <span data-id="14"></span>
        <span data-id="15"></span>
        <span data-id="16"></span>
        <span data-id="17"></span>
        <span data-id="18"></span>
        <span data-id="19"></span>
        <span data-id="20"></span>
        <span data-id="21"></span>
        <span data-id="22"></span>
        <span data-id="23"></span>
        <span data-id="24"></span>
        <span data-id="25"></span>
      </div>
    </div>
    <div id="bingodiv"></div>
  </div>
  <div class="chat-container">
    <div id="sidebar">
      <div class="text-white" id="infodiv">
        <h6>Room Activity</h6>
        <hr />
      </div>
    </div>
    <input
      id="chatInput"
      type="text"
      placeholder="send a message"
      class="mt-1 form-control send-msg" />
  </div>
</div>

{% endblock content %}
{% block script %}
  <script src="{% static 'js/utils.js' %}"></script>
  <script>
    setUsername()
  </script>
  <script src="{% static 'js/websocketChatUtils.js' %}"></script>
  <script src="{% static 'js/websocketUtils.js' %}"></script>
  <script src="{% static 'js/bingo/Bingo.js' %}"></script>
  <script src="{% static 'js/bingo/BingoSocket.js' %}"></script>
{% endblock script %}
