<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <title>Site</title>
{#        <link rel="stylesheet" href="{% static 'css/board.css' %}">#}
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    </head>
    <body>
{#        <h1>Whiteboard home page</h1>#}
{#        {% block content %}#}
{#        {% endblock content %}#}

{#        <script src="{% static 'js/Board.js' %}"></script>#}

{#        {% block script %}#}
{#        {% endblock script %}#}
    </body>
</html>
