@include game-page;
@include monitoring;

.bingo__monitoring {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4em;

  .bingo__game {
    display: flex;
    align-items: center;
    flex-direction: column;

    .monitoring-player-info {
      max-width: 15em;
    }
  }

  @include for-desktop {
    align-items: center;
    flex-direction: column;
    gap: unset;
  }
}
