@import 'utils/mixins.scss';

.home-container {
  .home-content {
    .home-input {
      font-size: 1.1rem !important;
      text-align: center;

      .fifteen-body & {
        font-size: 1.3rem !important;
      }

      @include for-desktop {
        font-size: 0.9rem;
        max-width: 20rem;
      }
    }
  }
}
