@import 'utils/mixins.scss';

.home-input {
  font-size: 1.25rem;
  .fifteen-body & {
    text-align: center;
    font-size: 1.25rem;
  }

  @include for-desktop {
    font-size: 0.9rem;
    max-width: 20rem;
  }
}
