.input {
  &:focus {
    border-color: $dodger-blue;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    outline: 0;
  }
}

.input-menu {
  width: 100%;
  font: inherit;
  font-size: 1.1em;
  text-align: center;

  margin: 0.25em 0;
  padding: 0.5em;

  border: 1px solid $platinum;
  border-radius: 0.25em;

  outline: none;
}

.chat__input {
  flex: 1;
  height: 2.5em;
  padding: 0.4em 0.75em;
  color: $snow;
  border: none;
  border-radius: 0.25em;

  &::placeholder {
    color: $snow;
  }
}
