.home-input {
  width: 100%;
  font: inherit;
  font-size: 1.1em;
  text-align: center;

  margin: 0.25em 0;
  padding: 0.5em;

  border: 1px solid #ced4da;
  border-radius: 0.25em;

  outline: none;
}
