@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.chat-wrapper {
  width: 18rem;
  input {
    border: none;
    font-size: 13px;
    .bingo-body & {
      background: $bingo-chat-primary-color;
    }
    .tictactoe-body & {
      background: $tictactoe-primary-color;
      &:focus {
        color: $tictactoe-chat-color;
      }
      &::placeholder {
        color: $tictactoe-chat-color;
      }
    }
    .fifteen-body & {
      background: $fifteen-board-color !important;
    }
    &:focus {
      color: white;
    }
    &::placeholder {
      color: white;
    }
  }
  .chat {
    padding: 1rem;
    width: 100%;
    min-height: 450px;
    max-height: 450px;
    overflow-y: auto;
    scroll-behavior: smooth;
    .message {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0.5rem;
      font-size: 15px;
      color: white;
      .message-user {
        margin-left: 0.5rem;
      }
    }
    .centered-message {
      margin: 1rem 0;
      font-size: 15px;
      text-align: center;
      color: white;
    }
    .bingo-body & {
      background-color: $bingo-chat-primary-color;
      .message {
        border-bottom: 1px solid $bingo-secondary-color;
      }
    }
    .tictactoe-body & {
      background-color: $tictactoe-board-color;
      .centered-message {
        color: $tictactoe-chat-color;
      }
      h6 {
        color: $tictactoe-chat-color;
        border-bottom: 1px solid white;
      }
      .message {
        color: $tictactoe-chat-color;
        border-bottom: 1px solid white;
      }
    }
    .fifteen-body & {
      background-color: $fifteen-board-color;
      .message {
        border-bottom: 1px solid $fifteen-hover-color;
      }
    }
    h6 {
      color: white;
      text-align: center;
      border-bottom: 1px solid;
    }
  }
  @include for-desktop {
    width: 80%;
    max-width: 20rem;
    margin-bottom: 3rem;
    padding: 0.7rem;
  }
}
