.chat {
  width: 18em;

  .chat__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 28em;
    max-height: 28em;
    padding: 0.75em;
    border-radius: 0.5em 0.5em 0 0;
    overflow-y: auto;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-gutter: stable;

    .chat__title {
      width: 100%;
      padding: 0.5em;

      text-align: center;
      color: white;
      font-weight: 500;

      border-bottom: 1px solid white;
    }

    .chat__message {
      padding: 0 1em;
      width: 100%;
      color: white;
      font-size: 0.95em;

      .message--centered {
        display: flex;
        justify-content: center;
        margin: 0.75em 0;
        padding: 0.1em 0;
        border-radius: 0.5em;
      }

      .message__user {
        display: flex;
        gap: 1em;
        align-items: center;
        padding: 0.5em 0;

        .message__user-message {
          word-break: break-all;
        }
      }
    }
  }

  .chat__form {
    display: flex;
    margin: 0.25em 0;

    @include for-desktop {
      margin: 0.25em 0 1.5em;
    }
  }
}
