@include animations;

.monitoring-chat {
  position: absolute;
  top: 5px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    cursor: pointer;
  }

  .fade-on-open {
    animation-duration: 0.3s;
  }

  .fade-on-close {
    animation-duration: 0.2s;
  }

  @include for-desktop {
    position: unset;
  }
}
