@include animations;

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30em;

  background-color: $snow;
  border-radius: 0.5em;

  .modal__header {
    position: relative;
    text-align: center;
    padding: 1.5em;

    .modal__close-btn {
      position: absolute;
      font-size: 2em;
      top: 2px;
      right: 8px;
      cursor: pointer;
    }

    .modal__title {
      font-size: 2em;
      font-weight: 540;
    }
  }

  .modal__body {
    display: flex;
    justify-content: center;
    gap: 1em;
    max-height: 32em;

    overflow-y: auto;
  }

  .modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.25em;

    .modal__btn {
      width: 100%;
      padding: 0.75em;
      border-radius: 0.5em;

      color: $snow;
      background-color: $chinese-black;
      transition: background-color ease-in-out 0.1s;

      &:hover {
        background-color: $dark-charcoal;
      }
    }
  }

  @include for-tablet {
    width: 75%;
  }
}
