.section-title__subtitle {
  font-weight: 525;
  text-transform: uppercase;
  color: $davys-grey;
}

.section-title__title {
  margin: 0.25em 0;

  letter-spacing: 2px;
  font-weight: 400;
  font-size: 3.25em;
}
