.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  column-gap: 4em;
}
@media screen and (max-width: 750px) {
  .home {
    flex-direction: column;
  }
}
