* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.nav {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0.5rem 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li:hover {
  background-color: #777777;
  border-radius: 4px;
}
.site-title {
  font-size: 2rem;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
