@import 'utils/mixins.scss';
@import 'utils/variables.scss';

nav {
  background: $grey-dark;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem 1rem;

  a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    text-align: center;
  }

  li {
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
    &:hover {
      background-color: $grey-light;
    }
  }

  .active-link {
    background-color: $grey-light;
    border-radius: 4px;
  }

  .inactive-link {
    background-color: unset;
  }

  .site-title {
    font-size: 2rem;
    padding: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  @include for-tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
