nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  background: $charleston-green;
  color: $snow;

  box-shadow: 0 15px 15px 0 #0000001a;

  .nav__brand {
    display: flex;
    align-items: center;
    gap: 0.25em;
    font-size: 2em;

    .nav__brand-logo {
      width: 32.5px;
      height: 32.5px;

      @include for-phone {
        width: 45px;
        height: 45px;
      }
    }

    @include for-phone {
      flex-direction: column;
    }
  }

  .nav__menu {
    display: flex;
    align-items: center;
    gap: 1em;

    & > * {
      padding: 0.5em;
      border-radius: 4px;

      transition: background-color ease-in-out 0.1s;
      cursor: pointer;

      &:hover {
        background-color: $sonic-silver;
      }
    }

    .active-link {
      background-color: $sonic-silver;
    }
  }

  @include for-tablet {
    gap: 1em;
    flex-direction: column;
    align-items: center;
  }
}
