nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  background: $dark-charcoal;
  color: $snow;

  box-shadow: 0 15px 15px 0 #0000001a;

  .nav__brand {
    font-size: 2em;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    gap: 1em;

    & > * {
      padding: 0.5em;
      border-radius: 4px;

      transition: background-color ease-in-out 0.1s;
      cursor: pointer;

      &:hover {
        background-color: $sonic-silver;
      }
    }

    .active-link {
      background-color: $sonic-silver;
    }
  }

  @include for-tablet {
    gap: 1em;
    flex-direction: column;
    align-items: center;
  }
}
