@import 'utils/mixins.scss';
@import 'utils/variables.scss';


.online-rooms {
  display: flex;
  flex-wrap: wrap;
  max-width: 25rem;
  animation: fadeIn;
  animation-duration: 2s;

  .room {
    color: white;
    width: fit-content;
    padding: 0.65rem;
    margin: 0.25rem;
    border-radius: 3px;
    animation: fadeIn;
    animation-duration: 1s;

    p {
      margin: 0;
    }

    .bingo-body & {
      background-color: $bingo-primary-color;

      &:hover {
        background-color: $bingo-secondary-color;
      }
    }

    .tictactoe-body & {
      background-color: $tictactoe-primary-color;

      &:hover {
        background-color: $tictactoe-secondary-color;
      }
    }

    @include for-desktop {
      padding: 0.4rem;
    }
  }
}
