.game-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: $game-height;

  .game-menu__content {
    width: 20em;

    .content__title {
      margin-bottom: 0.1em;
      font-size: 2.5em;
      font-weight: 450;
      text-align: center;
      color: white;
    }

    .content__options {
      display: flex;
      justify-content: center;
      gap: 1em;
      margin: 0.75em 0;
      border: none;
    }
  }
}
