.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75em;
  padding: 1.5rem;
  font-size: 15px;

  width: 80%;
  max-width: 31em;
  height: fit-content;

  .panel__title {
    font-size: 2em;
    font-weight: 500;
  }

  .panel__online-game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $grey-light-border;
    border-radius: 5px;

    width: 70%;
    height: fit-content;
    padding: 1.5rem;

    animation: fadeIn;
    animation-duration: 0.4s;
    cursor: pointer;

    .online-game__close-btn {
      position: absolute;
      top: 3px;
      right: 3px;
      width: 18px;
      font-size: 14px;
      text-align: center;
      border-radius: 4px;

      &:hover {
        background-color: $grey-light-border;
      }
    }
  }

  .panel__info {
    text-align: center;
    font-size: 1.2em;
    color: $grey-light;
    animation: fadeIn;
    animation-duration: 0.4s;
  }
}
