@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.monitoring-container {
  display: flex;
  justify-content: center;
  min-height: $panel-page-height;
  margin: 4rem auto;
  @include for-tablet {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
}
