@include animations;

.monitoring-game-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;

  .monitoring-game-info__room-name {
    font-size: 1.75em;
  }

  .monitoring-game-info__items {
    padding: 1em;
    width: 30%;

    font-size: 1.1em;
    border-radius: 0.25em;
    border: 1px solid white;

    .monitoring-game-info__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include for-desktop {
      width: 60%;
    }

    @include for-phone {
      width: 90%;
    }
  }
}
