@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin whiteboard {
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
  .whiteboard {
    font-family: 'Alkatra', sans-serif;

    .btn,
    .home-link {
      background-color: $whiteboard-primary-color;

      &:hover {
        background-color: $whiteboard-light-grey;
      }
    }

    .menu__dropdown {
      .btn {
        color: $blue-txt;
        background-color: white;
        border: 1px solid $grey-light-border;

        &:hover {
          background-color: $light-blue;
        }
      }
    }
  }
}

@mixin fifteen {
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  .fifteen {
    background-color: $fifteen-primary-color;
    font-family: 'Nunito', sans-serif;

    .btn,
    .home-link,
    .items__child {
      color: white;
      background-color: $fifteen-secondary-color;

      &:hover {
        color: white;
        background-color: $fifteen-hover-color;
      }
    }

    .chat__content,
    .chat__input {
      background-color: $fifteen-puzzle-color;
      scrollbar-color: white $fifteen-puzzle-color;

      &::placeholder {
        color: white;
      }
    }

    .message--centered {
      background-color: $fifteen-primary-color;
    }

    .message__user {
      border-bottom: 1px solid $fifteen-hover-color;
    }
  }
}

@mixin tictactoe {
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
  .tictactoe {
    background-color: $grey-dark;
    font-family: 'Quicksand', sans-serif;

    .btn,
    .home-link,
    .items__child {
      color: white;
      background-color: $tictactoe-primary-color;

      &:hover {
        color: white;
        background-color: $tictactoe-secondary-color;
      }
    }

    .game-info,
    .chat__content,
    .chat__input {
      background-color: $tictactoe-primary-color;
      scrollbar-color: white $tictactoe-primary-color;
    }

    .message--centered {
      background-color: $tictactoe-secondary-color;
    }

    .message__user {
      border-bottom: 1px solid $tictactoe-secondary-color;
    }

    .content__player-info {
      .btn {
        background-color: $tictactoe-secondary-color;

        &:hover {
          background-color: #A0A0A0;
        }
      }
    }
  }
}

@mixin bingo {
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
  .bingo {
    background-color: $black-bg;
    font-family: 'Ubuntu', sans-serif;

    .btn,
    .home-link,
    .items__child {
      color: white;
      background-color: $bingo-primary-color;

      &:hover {
        color: white;
        background-color: $bingo-secondary-color;
      }
    }

    .game-info,
    .chat__content,
    .chat__input {
      background-color: $bingo-chat-primary-color;
      scrollbar-color: $bingo-clicked-item $bingo-chat-primary-color;
    }

    .game-info {
      min-height: 31.94em;

      @include for-desktop {
        min-height: 27.69em;
      }
    }

    .message--centered {
      background-color: $bingo-primary-color;
    }

    .message__user {
      border-bottom: 1px solid $bingo-primary-color;
    }
  }
}

@mixin game-page {
  .game {
    position: relative;
    min-height: $game-height;

    display: flex;
    justify-content: center;
    align-items: center;

    .game__options {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      gap: 0.8em;
      margin-bottom: 1em;
      padding: 0.75em;

      @include for-desktop {
        position: relative;
      }
    }

    .game__content {
      display: flex;
      gap: 5em;

      @include for-desktop {
        align-items: center;
        flex-direction: column;
        gap: 2em;
      }
    }

    @include for-desktop {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
    }
  }
}

@mixin monitoring {
  .monitoring {
    min-height: $game-height;
  }
}

@mixin animations {
  .animation--fade-in {
    animation: fadeIn;
    animation-duration: 0.2s;
  }

  .animation--fade-in-1s {
    animation: fadeIn;
    animation-duration: 1s;
  }

  .animation--fade-in-up {
    animation: fadeInUp;
    animation-duration: 0.25s;
  }
}

@mixin icons {
  .cancel-icon {
    padding: 3px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }

  .checkmark-icon {
    padding: 3px;
    border-radius: 50%;
    background-color: limegreen;
    color: white;
  }

  .info-icon {
    width: 20px;
    height: 20px;
    color: white;
  }

  .chat-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 0.25em;
  }
}
