@import './variables.scss';

@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-phone {
  @media (max-width: 500px) {
    @content;
  }
}
@mixin for-extra-small-phone {
  @media (max-width: 400px) {
    @content;
  }
}
@mixin for-nav {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin tictactoe {
  @import url('https://fonts.googleapis.com/css?family=Catamaran:200');
  @import url('https://fonts.googleapis.com/css?family=Quicksand');
  .tictactoe-body {
    background-color: $grey-dark;
    font-family: 'Catamaran', sans-serif;
  }
}
@mixin bingo {
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
  .bingo-body {
    background-color: $black-bg;
    font-family: 'Ubuntu', sans-serif;
  }
}
@mixin home-page {
  .home-container {
    animation: fadeIn;
    animation-duration: 0.4s;
    min-height: $game-home-page-height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    h2, h4 {
      color: white;
    }
    h2 {
      font-size: 2.5rem;
    }
    .btn-home {
      font-size: 1.2rem;
      padding: 0.25em 0.5em;
      margin-right: 0.5rem;
    }
    @include for-desktop {
      margin: 0 4rem;
      .btn-home {
        font-size: 0.85rem;
      }
    }
  }
}
@mixin game-page {
  .btn-game {
    padding: 0.7rem;
    margin: 0.6rem 0.2rem 0.6rem 0.6rem;
  }
}
