@import './variables.scss';

@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-phone {
  @media (max-width: 500px) {
    @content;
  }
}
@mixin for-extra-small-phone {
  @media (max-width: 400px) {
    @content;
  }
}
@mixin for-nav {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin tictactoe {
  @import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Quicksand');
  .tictactoe-body {
    background-color: $grey-dark;
    font-family: 'Catamaran', sans-serif;
    overflow: auto;
  }
}
@mixin bingo {
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
  .bingo-body {
    background-color: $black-bg;
    font-family: 'Ubuntu', sans-serif;
    overflow: auto;
  }
}
@mixin fifteen {
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  .fifteen-body {
    background-color: $fifteen-primary-color;
    font-family: 'Nunito', sans-serif;
    overflow: auto;
  }
}
@mixin home-page {
  .home-container {
    animation: fadeIn;
    animation-duration: 0.4s;
    min-height: $game-home-page-height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    h2, h4 {
      color: white;
    }
    h2 {
      font-size: 2.5rem;
    }
    .btn-home {
      font-size: 1.2rem;
      padding: 0.25em 0.5em;
      margin-right: 0.5rem;
    }
    @include for-desktop {
      margin: 0 4rem;
      .btn-home {
        font-size: 0.85rem;
        .fifteen-body & {
          font-size: 1.25rem;
        }
      }
    }
  }
}
@mixin game-page {
  .btn-game {
    padding: 0.7rem;
    margin: 0.6rem 0.2rem 0.6rem 0.6rem;
    .info-container & {
      padding: 0.4rem;
      margin: 1rem;
    }
  }
  .players-turn {
    animation: fadeIn;
    animation-duration: 0.2s;
  }
  .total-players {
    margin-left: 3px;
    animation: fadeIn;
    animation-duration: 0.2s;
  }
}
@mixin monitoring {
  .monitoring-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem;
    .tictactoe-players & {
      width: 16rem;
      padding: 0;
    }
    .monitoring-data {
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: 1rem;
      font-size: 1.25rem;
      &.room-data {
        width: 40%;
      }
      &.player-data {
        width: 60%;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .animate-data {
        animation: fadeIn;
        animation-duration: 0.2s;
      }
    }
    @include for-tablet {
      .tictactoe-players & {
        width: 12rem;
      }
      .monitoring-data {
        &.room-data {
          width: 80%;
        }
      }
    }
  }
}
