@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin for-extra-small-phone {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin whiteboard {
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
  .whiteboard {
    font-family: 'Alkatra', sans-serif;

    .home-link,
    .home-btn {
      background-color: $whiteboard-primary-color;

      &:hover {
        background-color: $whiteboard-light-grey;
      }
    }
  }
}

@mixin fifteen {
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  .fifteen {
    background-color: $fifteen-primary-color;
    font-family: 'Nunito', sans-serif;

    .home-link,
    .home-btn,
    .items__child {
      color: white;
      background-color: $fifteen-secondary-color;

      &:hover {
        color: white;
        background-color: $fifteen-hover-color;
      }
    }
  }
}

@mixin tictactoe {
  @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
  .tictactoe {
    background-color: $grey-dark;
    font-family: 'Quicksand', sans-serif;

    .home-link,
    .home-btn,
    .items__child {
      color: white;
      background-color: $tictactoe-primary-color;

      &:hover {
        color: white;
        background-color: $tictactoe-secondary-color;
      }
    }
  }
}

@mixin bingo {
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
  .bingo {
    background-color: $black-bg;
    font-family: 'Ubuntu', sans-serif;

    .home-link,
    .home-btn,
    .items__child {
      color: white;
      background-color: $bingo-primary-color;

      &:hover {
        color: white;
        background-color: $bingo-secondary-color;
      }
    }
  }
}

@mixin buttons {
  .btn-game {
    padding: 0.7rem;
    margin: 0.6rem 0.2rem 0.6rem 0.6rem;

    .info-container & {
      padding: 0.4rem;
      margin: 1rem;
    }
  }
}

@mixin game-page {
  .game-room-options {
    position: absolute;
    top: 0;
    left: 0;
  }
  .players-turn {
    animation: fadeIn;
    animation-duration: 0.2s;
  }
  .total-players {
    margin-left: 3px;
    animation: fadeIn;
    animation-duration: 0.2s;
  }
}

@mixin monitoring {
  .monitoring-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem;
    .tictactoe-players & {
      width: 16rem;
      padding: 0;
    }
    .monitoring-data {
      border: 1px solid $grey-light-border;
      border-radius: 5px;
      padding: 1rem;
      font-size: 1.25rem;
      &.room-data {
        width: 40%;
      }
      &.player-data {
        width: 60%;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .animate-data {
        animation: fadeIn;
        animation-duration: 0.2s;
      }
    }
    @include for-tablet {
      .tictactoe-players & {
        width: 12rem;
      }
      .monitoring-data {
        &.room-data {
          width: 80%;
        }
      }
    }
  }
}
