@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-phone {
  @media (max-width: 500px) {
    @content;
  }
}
@mixin for-extra-small-phone {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin home-page {
  .home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;

    h2, h4 {
      color: white;
    }
    h2 {
      font-size: 2.5rem;
    }

    .btn-home {
      font-size: 1.2rem;
      padding: 0.25em 0.5em;
      margin-right: 0.5rem;
    }

    @include for-desktop {
      margin: 0 4rem;
      .btn-home {
        font-size: 0.85rem;
      }
    }
  }
}
