$black-bg: #121213;
$grey-light: #777777;
$grey-light-border: #e7e7e7;
$grey-dark: #333333;
$red-light-error: #f04e4e;
$blue-txt: #1b9cfc;
$light-blue: #EFF9FE;
$violet: #6d5baf;

$navbar-padding: 1em;
$game-height: 100vh;

$bingo-primary-color: #262350;
$bingo-secondary-color: #363263;
$bingo-chat-primary-color: #1b1b21;
$bingo-success-row: #5baf5b;
$bingo-clicked-item: #3a3a3c;

$tictactoe-primary-color: #C0C0C0;
$tictactoe-secondary-color: #808080;
$tictactoe-board-color: #ccc;
$tictactoe-hover-color: #bbb;

$fifteen-primary-color: #37474F;
$fifteen-secondary-color: #1976D2;
$fifteen-hover-color: #29B6F6;
$fifteen-dark-color: #263238;
$fifteen-puzzle-color: #607D8B;
$fifteen-puzzle-text-color: #ECEFF1;

$whiteboard-primary-color: #f8f9fa;
$whiteboard-secondary-color: #C0C0C0;
$whiteboard-light-grey: #E2E6EA;
