$button-text-color-blue: #1b9cfc;
$grey-light: #777777;
$grey-dark: #333333;
$red-light-error: #f04e4e;
$hover-color: rgba(27, 156, 252, 0.1);
$border-color: #e7e7e7;
$black-background: #121213;
$violet: #6d5baf;

$bingo-primary-color: #262350;
$bingo-secondary-color: #363263;

$tictactoe-primary-color: #C0C0C0;
$tictactoe-secondary-color: #808080;
