$blue-txt: #1b9cfc;
$grey-light: #777777;
$grey-dark: #333333;
$red-light-error: #f04e4e;
$hover-color: rgba(27, 156, 252, 0.1);
$border-color: #e7e7e7;
$black-bg: #121213;
$violet: #6d5baf;

$home-page-height: 87.05vh;
$panel-page-height: 77.6vh;
$game-home-page-height: 100vh;
$game-height: 95.2vh;
$monitoring-height: 100vh;

$bingo-primary-color: #262350;
$bingo-secondary-color: #363263;
$bingo-chat-primary-color: #1b1b21;
$bingo-success-row: #5baf5b;

$tictactoe-primary-color: #C0C0C0;
$tictactoe-secondary-color: #808080;
$tictactoe-board-color: #ccc;
$tictactoe-hover-color: #bbb;
$scoreboard-bg-color: #f0f0f0;
$tictactoe-font-family: 'Quicksand';
$tictactoe-chat-color: #212529;

$tictactoe-grid-columns: 1fr 1fr 1fr;
$tictactoe-grid-rows: 1fr 1fr 1fr;
