$game-height: 100vh;

$error: #f04e4e;
$dodger-blue: #1b9cfc;
$royal-purple: #6d5baf;

$chinese-black: #121213;
$charleston-green: #2a2a2a;
$gunmetal: #263238;
$dark-charcoal: #333333;
$davys-grey: #555555;
$deep-koamaru: #363263;
$sonic-silver: #777777;
$quick-silver: #A0A0A0;
$moon: #d8d8d8;
$platinum: #e7e7e7;
$snow: #ffffff;

$bingo-primary-color: #262350;
$bingo-secondary-color: #1b1b21;
$bingo-clicked-tile: #3a3a3c;
$bingo-success-row: #5baf5b;

$tictactoe-primary-color: #C0C0C0;
$tictactoe-secondary-color: #808080;
$tictactoe-tile-color: #ccc;

$fifteen-primary-color: #37474F;
$fifteen-secondary-color: #1976D2;
$fifteen-secondary-color--light: #29B6F6;
$fifteen-tertiary-color: #607D8B;

$whiteboard-primary-color: #f8f9fa;
$whiteboard-secondary-color: #E2E6EA;
$whiteboard-btn-hover: #EFF9FE;
