@include bingo;
@include game-page;
@include animations;

.bingo__game {
  .game__scoreboard {
    color: white;
    font-size: 1.2em;

    .scoreboard__username {
      text-align: center;
    }
    .scoreboard__room-info {
      display: flex;
      justify-content: space-between;
    }
  }

  .bingo__game-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3em;
      height: 3em;
      margin: 0.1em;

      font-size: 1.5em;
      color: white;
      border: 2px solid $bingo-clicked-item;

      cursor: pointer;
      user-select: none;

      &.clicked {
        background: $bingo-clicked-item;
      }

      @include for-desktop {
        width: 2.5em;
        height: 2.5em;
      }
    }

    .game-grid--success {
      background: $bingo-success-row;
      border: none;
    }
  }

  .bingo__state {
    height: 0.75em;
    padding: 0.25em;

    font-size: 1.9em;
    color: white;
    text-align: center;
    letter-spacing: 5px;
  }
}
