.card-container {
  width: 270px;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  transition: 0.3s;
  animation: ease-in;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 0;
}
.image-container img {
  overflow: hidden;
  height: 300px;
}
.card-content {
  margin: 0.5rem 1rem 1rem;
}
h3,
p {
  margin: 0;
  padding: 0;
}
.card-title {
  margin-bottom: 0.5rem;
}
.card-container btn {
  display: flex;
  justify-content: center;
}
.card-container button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  border-radius: 10px;
  color: #1b9cfc;
  font-weight: bold;
}
.card-container button:hover {
  background: rgba(27, 156, 252, 0.1);
  transform: scale(1.1);
  cursor: pointer;
}
