@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.card-wrapper {
  width: 270px;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  transition: 0.3s;
  animation: pulse;
  animation-duration: 1s;

  &:hover {
    box-shadow: 0 0 15px 0;
  }

  .image-container img {
    overflow: hidden;
    height: 300px;
  }

  .card-content {
    margin: 1rem 1rem 0 1rem;
    p {
      margin-bottom: 1rem;
    }
  }

  .btn-open {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    color: $blue-txt;
    border: none;
    outline: none;
    transition: 0.2s;
    &:hover {
      background: $hover-color;
      transform: scale(1.1);
    }
  }

  @include for-tablet {
    width: 70%;
    margin: 2.5rem;

    .image-container img {
      height: 20rem;
    }
  }
}
