.card-wrapper {
  width: 300px;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 15px 0;
  }
  .image-container img {
    padding: 3rem;
    height: 300px;
  }
  .card-content {
    padding: 1rem;
    h3 {
      font-weight: 700;
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  @include for-tablet {
    width: 65%;
    margin: 2.5rem;
    .image-container img {
      height: 20rem;
    }
  }
  @include for-phone {
    width: 80%;
  }
}
