.card {
  display: flex;
  flex-direction: column;

  width: 15em;
  padding: 2em 1em;
  margin: 1.5em 1em;

  box-shadow: 0 0 15px -5px;
  transition: box-shadow ease-in-out 0.1s;

  .card__img {
    object-fit: contain;
    width: 240px;
    height: 200px;
  }

  .card__title {
    margin-top: 1.5em;
    font-size: 1.75em;
  }

  .card__desc {
    margin-top: 0.5em;
    line-height: 1.5;
  }

  &:hover {
    box-shadow: 0 0 15px 0;
  }
}
