@include fifteen;
@include game-page;
@include animations;

.fifteen__game {
  .fifteen__game-grid {
    display: flex;
    flex-wrap: wrap;
    width: 28em;
    height: 28em;

    border: 1px solid $fifteen-hover-color;
    border-radius: 0.5em;
    background-color: $fifteen-puzzle-color;

    .grid__tile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 25%;

      font-size: 4em;
      font-weight: bold;
      color: $fifteen-puzzle-text-color;
      border: 1px solid $fifteen-hover-color;

      cursor: pointer;
      user-select: none;

      &:first-child {
        border-top-left-radius: 0.1em;
      }

      &:nth-child(4) {
        border-top-right-radius: 0.1em;
      }

      &:nth-child(13) {
        border-bottom-left-radius: 0.1em;
      }

      &:last-child {
        border-bottom-right-radius: 0.1em;
      }

      @include for-desktop {
        font-size: 3em;
      }
    }

    @include for-desktop {
      width: 21em;
      height: 21em;
    }
  }

  .game__scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
    padding: 0.75em;

    border-radius: 0.5em;
    background-color: $fifteen-dark-color;

    .scoreboard__moves {
      color: $fifteen-secondary-color;
      font-size: 1.75em;
      font-weight: bold;

      @include for-desktop {
        font-size: 1.5em;
      }
    }

    @include for-desktop {
      .btn {
        padding: 0.4em;
      }
    }
  }
}
