a {
  text-decoration: none !important;
}
h1, h2, h3, h4 {
  color: white;
}

/*ERROR PAGE*/
/*-----------------------------------*/
.error-container {
  height: 80vh;
  display: grid;
  place-items: center
}
.error {
  font-size: 50px;
  font-weight: bold;
}
/*-----------------------------------*/

/*HOME PAGE*/
/*-----------------------------------*/
.home-container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  margin: 0 5rem;
}
.home-form {
  font-size: 1em;
  width: 100%;
  max-width: 40rem;
}
.btn-home {
  font-size: 1em;
  padding: 0.25em 0.5em;
}
.btn-menu {
  margin-left: 10px;
}
/*-----------------------------------*/

/*ONLINE ROOMS*/
/*-----------------------------------*/
#onlinerooms {
  display: flex;
  flex-wrap: wrap;
  max-width: 25rem;
}
.room-div {
  color: white;
  width: fit-content;
  padding: 0.65rem;
  margin: 0.25rem;
  border-radius: 3px;
}
/*-----------------------------------*/

/*GAME PAGE*/
/*-----------------------------------*/
.btn-game {
  padding: 0.7rem;
  margin: 0.6rem 0.2rem 0.6rem 0.6rem;
}
.not-enough-players {
  color: #dc3545;
}
/*-----------------------------------*/

@media screen and (max-width: 1000px) {
  h1, h2, h3, h4{
    font-size: 140%;
  }
  .btn-home {
    font-size: 90%;
  }
  .home-container {
    font-size: 100%;
    margin: 0 4rem;
    min-height: 100vh;
  }
  .home-form {
    font-size: 100%;
    width: 110%;
    max-width: 20rem;
  }
  .room-div{
    padding: 0.4rem;
  }
}
