@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #121213;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}
.home-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideme {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  margin-bottom: 2%;
}
.grid span {
  width: 4rem;
  cursor: pointer;
  height: 4rem;
  color: white;
  border: 2px solid #3a3a3c;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1.3em;
  font-weight: bolder;
}
#bingodiv {
  color: white;
  letter-spacing: 4px;
  padding: 5px;
}
.grid span.clicked {
  background: #3a3a3c;
}
.side-info {
  width: 40%;
  color: white;
}
.bingoSuccess {
  background: #5baf5b !important;
  border: none !important;
}
.bingState {
  font-size: 30px;
  font-weight: bolder;
  color: #cfd2ce;
}
#infodiv {
  padding: 20px;
  background-color: #1b1b21;
  min-height: 450px;
  max-height: 450px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.send-msg {
  background: #1b1b21;
  border: none;
  color: white;
  font-size: 13px;
  outline: 0 !important;
}
.prevStep {
  font-weight: bolder;
  font-size: 1.3em;
  color: #bbb8d8 !important;
}
.send-msg:focus {
  background: #282831 !important;
  color: white;
}
.lastStep {
  background: #6d5baf !important;
  border: none !important;
}
.send-msg::placeholder {
  color: white;
}
.side-text {
  border-bottom: 1px solid #5f5c85;
  margin-top: 13px;
  font-size: 12px;
}
#onlinerooms {
  display: flex;
  flex-wrap: wrap;
}
.room-div {
  padding: 10px;
  background-color: #262350;
  width: fit-content;
  margin: 4px;
}
.room-div:hover {
  background-color: #363263;
}
.btn-menu {
  margin-left: 10px;
}
.btn-game {
  padding: 10px;
  margin: 10px 1px 0 10px;
}

@media screen and (max-width: 1000px) {
  .sideme {
    width: 100%;
    margin-top: 20rem;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .side-info {
    width: 50%;
    align-self: center;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 380px) {
  .grid {
    gap: 3px;
  }
  .side-info {
    width: 100%;
  }
}
