@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: #121213;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

/*ONLINE ROOMS*/
/*-----------------------------------*/
.room-div {
  background-color: #262350;
}
.room-div:hover {
  background-color: #363263;
}
/*-----------------------------------*/

/*GAME PAGE*/
/*-----------------------------------*/
.bingo-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bingo {
  margin: 8rem;
}
.prevStep {
  font-weight: bolder;
  font-size: 1.1rem;
  color: #bbb8d8 !important;
}
.lastStep {
  background: #6d5baf !important;
  border: none !important;
}
.bingoSuccess {
  background: #5baf5b !important;
  border: none !important;
}
.bingState {
  font-size: 30px;
  font-weight: bolder;
  color: #cfd2ce;
  padding: 0.2rem;
}
/*-----------------------------------*/

/*GAME BOARD*/
/*-----------------------------------*/
.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  margin-bottom: 2%;
}
.grid span {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  color: white;
  border: 2px solid #3a3a3c;
  font-size: 1.3em;
  font-weight: bolder;
}
.grid span.clicked {
  background: #3a3a3c;
}
/*-----------------------------------*/

/*CHAT*/
/*-----------------------------------*/
.chat-container {
  width: 18rem;
}
.chat-text {
  border-bottom: 1px solid #5f5c85;
  margin-top: 0.35rem;
  font-size: 12px;
}
#infodiv {
  padding: 1rem;
  background-color: #1b1b21;
  min-height: 450px;
  max-height: 450px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.send-msg::placeholder {
  color: white;
}
.send-msg {
  background: #1b1b21;
  border: none;
  font-size: 13px;
}
.send-msg:focus {
  background: #282831 !important;
  color: white;
}
/*-----------------------------------*/

@media screen and (max-width: 1000px) {
  .bingo-container {
    flex-direction: column;
  }
  .bingo {
    margin: 4rem;
  }
  .chat-container {
    width: 20rem;
    margin-bottom: 3rem;
    padding: 0.7rem;
  }
}
