@import url('https://fonts.googleapis.com/css?family=Catamaran:200');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-color: #333333;
  font-family: 'Catamaran', sans-serif;
}
a {
  text-decoration: none !important;
}
.home-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-page {
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.game {
  flex: 1 1 auto;
  max-width: 400px;
  border: 1px solid #ccc;
  margin: 8rem;
}
.game > div {
  flex: 1 1 auto;
  font-size: 1.1em;
}
.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.scoreboard > div {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.boardcontainer {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.board {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
.space {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 3em;
}
.space:hover {
  background-color: #bbb;
}
.space:active {
  background-color: #aaa;
}
#onlinerooms {
  display: flex;
  flex-wrap: wrap;
}
.room-div {
  padding: 10px;
  background-color: #C0C0C0;
  width: fit-content;
  margin: 4px;
}
.room-div:hover {
  background-color: #808080;
}
.side-info {
  width: 15rem;
  color: white;
}
#infodiv {
  padding: 20px;
  background-color: #bbbbbb;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.send-msg {
  background: white;
  border: none;
  color: white;
  font-size: 13px;
  outline: 0 !important;
}
.side-text {
  border-bottom: 1px solid #363263;
  margin-top: 13px;
  font-size: 15px;
}
.btn-game {
  padding: 10px;
  margin: 10px 1px 0 10px;
}
.btn-menu {
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .sideme {
    flex-direction: column;
  }
  .side-info {
    width: 50%;
    align-self: center;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 40px;
  }
  .game {
    width: 100%;
    margin-top: 20rem;
    margin-bottom: 10px;
  }
  .side-info{
    padding: 20px;
  }
}
