@import url('https://fonts.googleapis.com/css?family=Catamaran:200');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-color: #eee;
  color: #333;
  font-family: 'Catamaran', sans-serif;
}

.full-page {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.game {
  flex: 1 1 auto;
  max-width: 400px;
  border: 1px solid #ccc;
}

.game > div {
  flex: 1 1 auto;
  font-size: 1.1em;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.scoreboard > div {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.boardcontainer {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  /* If you want text inside of it */
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.space {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 3em;
}

.space:hover {
  background-color: #bbb;
}

.space:active {
  background-color: #aaa;
}

.btn-game {
  padding: 10px;
  margin: 10px 1px 0 10px;
}
