@import url('https://fonts.googleapis.com/css?family=Catamaran:200');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-color: #333333;
  font-family: 'Catamaran', sans-serif;
}

/*ONLINE ROOMS*/
/*-----------------------------------*/
.online-rooms {
  margin-top: 0.75rem;
}
.room-div {
  background-color: #C0C0C0;
}
.room-div:hover {
  background-color: #808080;
}
/*-----------------------------------*/

/*GAME PAGE*/
/*-----------------------------------*/
.tictactoe-container{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tictactoe {
  width: 100%;
  max-width: 400px;
  margin: 8rem;
}
.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 0.3rem;
}
.scoreboard > div {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
#userNum {
  margin-left: 3px;
}
.board-container {
  padding-top: 100%;
  position: relative;
}
.board {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
.space {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 3em;
  cursor: pointer;
}
.space:hover {
  background-color: #bbb;
}
.space:active {
  background-color: #aaa;
}
/*-----------------------------------*/

/*CHAT*/
/*-----------------------------------*/
.chat-container {
  width: 15rem;
}
.chat-text {
  border-bottom: 1px solid #363263;
  margin-top: 0.35rem;
  font-size: 15px;
}
#infodiv {
  padding: 1rem;
  background-color: #bbbbbb;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
/*-----------------------------------*/

@media screen and (max-width: 1000px) {
  .tictactoe-container {
    flex-direction: column;
    align-items: center;
    min-height: 130vh;
  }
  .tictactoe {
    flex: none;
    width: 80%;
    margin: 3rem;
  }
  .chat-container {
    width: 80%;
    max-width: 25rem;
    padding: 0.7rem;
  }
}
