.checkbox {
  padding: 1rem;
  -webkit-tap-highlight-color: transparent;

  label {
    display: block;
    text-align: center;
    color: $violet;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
    cursor: pointer;

    .checkbox__input {
      visibility: hidden;
      display: none;

      &:checked ~ .checkbox__span {
        transform: rotate(45deg) translateX(-5px);
        width: 0.75em;
        margin-left: 0.75em;
        border-color: $violet;
        border-top-color: transparent;
        border-left-color: transparent;
        border-radius: 0;
      }
    }

    .checkbox__span {
      display: inline-block;
      width: inherit;
      height: inherit;
      border: 3px solid #434343;
      border-radius: 0.3em;
      transition: all 0.25s;
    }
  }
}
