.checkbox-wrapper {
  display: inline-block;
  justify-content: center;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
  padding: 1rem;

  label {
    display: block;
    text-align: center;
    color: $violet;
    width: 35px;
    height: 35px;
    font-size: 25px;
    margin-bottom: 2.75rem;
    cursor: pointer;

    input {
      visibility: hidden;
      display: none;

      &:checked ~ .checkbox {
        transform: rotate(45deg);
        width: 14px;
        margin-left: 12px;
        border-color: $violet;
        border-top-color: transparent;
        border-left-color: transparent;
        border-radius: 0;
      }
    }

    .checkbox {
      display: inline-block;
      width: inherit;
      height: inherit;
      border: 3px solid #434343;
      border-radius: 6px;
      transition: all 0.375s;
    }
  }

  @include for-desktop {
    margin-left: 1.5rem;
  }
}
