@include animations;
@include icons;

.game-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25em;

  border-radius: 0.5em;
  color: white;

  .info__title {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding: 0.5em;
    width: 80%;
    border-bottom: 1px solid white;
  }

  .info__content {
    flex: 1;
    width: 80%;
    margin-top: 1em;
    font-size: 2em;

    .content__player-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.5em 0;

      .player-info__username {
        font-size: 0.8em;
      }

      @include for-desktop {
        .btn {
          padding: 0.4em;
        }
      }
    }
  }

  .info__footer {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    font-size: 0.9em;
  }

  @include for-desktop {
    width: 20em;
    height: 25em;
  }
}
