.box {
  align-items: flex-start;
  text-align: left;

  padding: 1.5em;
  transition: box-shadow 0.2s ease-in-out;

  svg {
    width: 25px;
    height: 25px;
    color: $sonic-silver;
  }

  .box__title {
    margin: 0.6em 0;
  }

  .box__description {
    color: $sonic-silver;
    line-height: 1.5;
  }

  &:hover {
    box-shadow: 0 1px 15px 0 $moon;
  }

  @include for-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }
}
