@include monitoring;

.monitoring-info {
  .monitoring-data {
    &.player-data {
      font-size: 1rem;
      h4 {
        border-bottom: 1px solid white;
        text-align: center;
      }
    }
  }
}
